#Adicionando telas de notificações
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Timeline - Notificações</title>
  <link rel="stylesheet" href="notificacoes.css">
</head>
<body>

  <header>
    <a href="index.html"><strong>Timeline</strong></a>
    <button class="user-btn">Dados de demonstração</button>
  </header>

  <div class="tela">
    <h1>Notificações</h1>

    <div class="aviso amarelo">
      <h4>⚠ Semana com sobrecarga</h4>
      <p>3 provas</p>
      <a href="#">Ver sugestão de planejamento</a>
    </div>

    <div class="aviso vermelho">
      <h4>! Conflito de horário</h4>
      <p>"Estágio" e "Estudos" marcados para 18h quarta-feira</p>
      <a href="#">Ajustar horário</a>
    </div>

    <div class="aviso">
      <h4>ⓘ Informações pendentes</h4>
      <p>Atividade não cadastrada</p>
      <a href="#">Cadastrar</a>
    </div>

    <hr>

    <div class="aviso verde">
      <h4>✓ Tarefa adicionada</h4>
      <p>Continue no ritmo</p>
    </div>

    <div class="aviso cinza">
      <h4>✕ Tarefa não concluída</h4>
      <a href="#">Realocar tarefa</a>
    </div>
  </div>

</body>
</html>
